@tailwind base;
@tailwind components;
@tailwind utilities;

.shape-l {
    clip-path: circle(80% at 0 );
}

.shape-r {
    clip-path: circle(80% at 100% 50%);
}

input[type="password"], input[type="text"]  {
    width: 100%;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.flex-4 {
    flex: 4;
}